<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CDN</title>
    <script src="https://lib.baomitu.com/jquery/3.5.0/jquery.min.js" crossorigin="anonymous"></script>
    <script src="https://fp.yangcong345.com/middle/0.19.2/axios.min.js" crossorigin="anonymous"></script>
    <script src="https://fp.yangcong345.com/middle/7.10.5/polyfill.min.js"></script>
    <script src="https://www.jq22.com/demo/jqueryRunCode201709060221/jquery.runCode.js"></script>
    <link rel="stylesheet" href="https://www.jq22.com/demo/jqueryRunCode201709060221/jquery.runCode.css">
    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style>
        .input-group {
            margin-bottom: 20px;
        }
    </style>
</head>
<body class="container">
    <div class="page-header">
        <h1>骨架屏生成</h1>
    </div>
    <main>
        <div class="alert alert-success" role="alert">...</div>
        <div class="panel panel-default">
            <div class="panel-body">
                <form id="form">
                    <div class="input-group">
                        <input name="name" class="form-control" type="text" placeholder="访问页面的title" />
                    </div>
                    <div class="input-group">
                        <input name="url" class="form-control" type="text" placeholder="访问路径" />
                    </div>
                    <div class="input-group">
                        <input name="device" class="form-control" type="text" placeholder="骨架屏生成使用的设备默认iPhone X" />
                    </div>
                    <div class="input-group">
                        <input name="grayblockwidth" class="form-control" type="text" placeholder="最小处理灰色块的宽度" />
                    </div>
                    <div class="input-group">
                        <input name="graypseudowidth" class="form-control" type="text" placeholder="最小处理伪类宽" />
                    </div>
                    <div class="input-group">
                        <textarea name="cookies" class="form-control" type="text" placeholder='cookie信息[{"domain": ".baidu.com","expirationDate": 1568267131.555328}]'></textarea>
                    </div>
                    <input class="btn btn-success" type="button" value="上传文件" id="submitBtn" />
                </form>
            </div>
            <div class="panel-foot" id="foot">
                <textarea id="code"></textarea>
            </div>
        </div>
    <script src="/index.js"></script>
</body>
</html>